@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "业务需求上传";
}
<h2>@ViewBag.Title</h2>


<div class="row card">
    <div class="col-md-8">
        @if (!string.IsNullOrEmpty(ViewBag.Msg))
        {
            @Html.Raw(ViewBag.Msg);
        }
        @using (Html.BeginForm("Import", "BusiReq", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table class="table table-condensed query-table">
                <tr>
                    <td><label class="control-label">项目名称</label></td>
                    <td>
                        <!--业需项目下拉选择-->
                        @Html.DropDownList("BRProjID", ViewBag.BRProjLs as SelectList, new { @class = "form-control" })
                    </td>
                    <td class="form-inline">
                        <input type="file" name="file" class="form-control" />
                        <input type="submit" value="上传" class="btn btn-primary" />
                        @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })
                    </td>
                </tr>
            </table>
        }

    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">TIPS</div>
        <div class="panel-body">
            1、请务必按照模板格式上传Excel文件！<a href="/BusiReq/DownTemplate">点此下载模板文件</a><br />
            2、同一个系统、同一个需求编号只能导入一次。
        </div>
    </div>
</div>

