<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyTeam</title>
    <link href="/Content/bootstrap.css" rel="stylesheet">
    <link href="/Content/site.css" rel="stylesheet">
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/respond.min.js"></script>
    <script>
        /* xp指定显示宋体*/
        $(document).ready(function () {
            var ua = navigator.userAgent;
            if (ua.indexOf("Windows NT 5") != -1) {
                $("body").attr("style", "font-family:arial,simsun!important");
            } 
        });
    </script>
    <!--
        <link href="http://fonts.useso.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css" />
    -->
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index" style="font-weight:bold">零售团队管理系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            维护需求管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ReqManage/MainReg">第一步-需求登记</a></li>
                            <li><a href="/ReqManage/InPool">第二步-需求入池</a></li>
                            <li><a href="/ReqManage/QuickOutPool">第三步-出池与下发</a></li>
                            <li><a href="/ReqManage/Bat">批量处理</a></li>
                            <li><a href="/ReqManage/Index">维护需求管理</a></li>
                            <li><a href="/ReqManage/OutPool">出池计划报表</a></li>
                            <li><a href="/SysManage">零售系统管理</a></li>
                            <li><a href="/Ver">年度版本计划管理</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            工作周报
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/WeekReport/MainIndex">重点项目与工作</a></li>
                            <li><a href="/WeekReport/DetailIndex">每周工作</a></li>
                            <li><a href="/WeekReport/RiskIndex">风险与待协调问题</a></li>
                            <li><a href="/WeekReport/YearMissionIndex">年度重点任务</a></li>
                            <li><a href="/WeekReport/Export">导出周报</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            项目管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Proj">项目信息与状态跟踪</a></li>
                            <li><a href="/ProjPlan">项目计划管理</a></li>
                            <li><a href="/ProjSurv">项目调研管理</a></li>
                            <li><a href="/ProjMeeting">项目会议管理</a></li>
                            <li><a href="/ReqTrack">业需软需状态跟踪管理</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            业务需求管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/BusiReqProj">业务需求项目管理</a></li>
                            <li><a href="/BusiReq">业务需求明细管理</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            考核与考勤
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/TargetManage">指标管理</a></li>
                            <li><a href="/TargetMission">指标对应任务管理</a></li>
                            <li><a href="/AttendanceManage">外协人员考勤管理</a></li>
                        </ul>
                    </li>
                    @if (Session["IsAdmin"] != null && (bool)Session["IsAdmin"])
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                                管理员相关
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/User">用户管理</a></li>
                                <li><a href="/Import">数据导入</a></li>
                                <li><a href="/Home/UpdateMemory">内存更新</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <!--[if lt IE 9]> <p class='alert alert-danger text-center' style="margin:30px">本系统在旧版IE中可能会出现各种显示问题，建议使用Chrome或其他webkit内核浏览器！</p> <![endif]-->
        @RenderBody()
        <hr />
        <footer>
            <p class="text-left">&copy; @DateTime.Now.Year - 兴业银行信息科技部需求中心零售团队</p>
            <p class="text-right" style="font-size:0.8em; font-style:italic">Made by ZhouMeng & ZhangJuan</p>
        </footer>
    </div>
</body>
</html>
