<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyTeam</title>
    <link href="~/Content/bootstrap.css?v=@DateTime.Now.ToString("yyyyMMdd")" rel="stylesheet">
    <link href="~/Content/site.css?v=@DateTime.Now.ToString("yyyyMMdd")" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>

    <link href="~/Content/select2.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>

    <link rel="shortcut icon" href="~/Content/favicon.ico" />

    <!--xp强制宋体-->
    <script>        
        var sUserAgent = navigator.userAgent;
        if(sUserAgent.indexOf("Windows NT 5.1") > -1 || sUserAgent.indexOf("Windows XP") > -1) {
            $("body").attr("style", "font-family:arial,simsun!important");
        }        
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navbar_div">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Home/Index" style="font-weight:bold">零售团队管理系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            维护需求管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/ReqManage/Reg">第一步-需求登记</a></li>
                            <li><a href="~/ReqManage/InPool">第二步-需求入池</a></li>
                            <li><a href="~/ReqManage/OutPool">第三步-需求出池</a></li>
                            <li><a href="~/ReqManage/UpdateRlsDate">第四步-更新实际下发日期</a></li>
                            <li class="divider"></li>
                            <li><a href="~/ReqManage/Index">维护需求管理</a></li>
                            <li><a href="~/ReqManage/Bat">批量处理</a></li>
                            <li><a href="~/ReqManage/OutPoolTable">出池计划报表</a></li>
                            <li class="divider"></li>
                            <li><a href="~/SysManage">零售系统管理</a></li>
                            <li><a href="~/Ver">年度版本计划管理</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            工作周报
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/WeekReport/MainIndex">重点项目与工作</a></li>
                            <li><a href="~/WeekReport/DetailIndex">每周工作</a></li>
                            <li><a href="~/WeekReport/RiskIndex">风险与待协调问题</a></li>
                            <li><a href="~/WeekReport/YearMissionIndex">年度重点任务</a></li>
                            <li class="divider"></li>
                            <li><a href="~/WeekReport/Export">导出周报</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            项目与业需管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Proj">项目/专项工作信息管理</a></li>
                            <li><a href="~/ProjPlan">项目计划管理</a></li>
                            <li><a href="~/ProjSurv">项目调研管理</a></li>
                            <li><a href="~/ProjMeeting">项目会议管理</a></li>
                            <li><a href="~/ReqTrack">业需软需状态跟踪管理</a></li>
                            <li class="divider"></li>
                            <li><a href="~/BusiReqProj">业务需求项目管理</a></li>
                            <li><a href="~/BusiReq">业务需求明细管理</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                            考核与考勤
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/TargetManage">指标管理</a></li>
                            <li><a href="~/TargetMission">指标对应任务管理</a></li>
                            <li><a href="~/AttendanceManage">外协人员考勤管理</a></li>
                        </ul>
                    </li>

                </ul>
                @Html.Action("LoginPartial", "Home")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <!--[if lt IE 10]> <p class='alert alert-danger text-center' style="margin:30px">本系统在旧版IE中可能会出现各种显示问题，建议使用Chrome或其他webkit内核浏览器！</p> <![endif]-->
        @RenderBody()
    </div>
    <footer class="container">
        <p class="text-center">
            &copy; 2015-@DateTime.Now.Year  兴业银行信息科技部需求中心零售团队<br />
            <span style="font-size:0.8em;">Made by <span style="font-family:'Segoe Script'">ZhouMeng</span> | <a href="~/Home/About" title="版本更新记录" data-toggle="tooltip" data-placement="top">about</a></span> 
            <!--
            <span style="font-size:1.2em;">
                <a href="###" onclick="changeTheme('default')" title="切换主题（浅色）" style="color:#337ab7!important" data-toggle="tooltip" data-placement="top">□</a>
                <a href="###" onclick="changeTheme('inverse')" title="切换主题（深色）" style="color:#337ab7!important;font-size:1.1em" data-toggle="tooltip" data-placement="top">■</a>
            </span>
            --> 
        </p>
    </footer>
    <!--2016年8月20日：下拉菜单无需点击-->
    <!--2017年1月13日：增加tooltip效果-->
    <script>      
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
            $('.dropdown-toggle').on("mouseover", function () {
                if ($(this).parent().is(".open")) {
                    return
                }

                $(this).dropdown("toggle");
            });
        }); 
    </script>

    <!--
    <script>
        function changeTheme(theme) {
            if (theme == "default") {
                $("#navbar_div").removeClass("navbar-inverse").addClass("navbar-default");
            } else {
                $("#navbar_div").removeClass("navbar-default").addClass("navbar-inverse");
            }
            $.ajax({
                type: 'GET',
                url: '/Home/SetTheme?theme=' + theme,
                success: function (msg) {
                    //do nothing
                },
                error: function () {
                    alert("未能记住主题，请联系管理员");
                }

            });
        }

    </script>
    -->
</body>
</html>
