@model MyTeam.Models.ReqRelease

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        @if(Model == null)
        {
            <p class="alert alert-warning">没有相关数据！</p>
        }
        else
        {
            <table class="table table-striped text-center">
                <tr>
                    <th>下发通知编号</th>
                    <th>计划下发时间</th>
                    <th>实际下发时间</th>
                    <th>下发说明</th>
                </tr>
                @{var rlsDate = Model.ReleaseDate == null ? "" : Model.ReleaseDate.Value.ToShortDateString(); }
                <tr>
                    <td>@Model.ReleaseNo</td>
                    <td>@Model.PlanReleaseDate.ToShortDateString()</td>
                    <td>@rlsDate</td>
                    <td>@Model.ReleaseDesc</td>
                </tr>

            </table>
                    }
        
        <p class="well well-sm">如需要管理维护需求与下发编号之间的关系请访问<a href="/ReleaseManage/Index">下发通知管理</a>功能</p>
    </div>
</div>