@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<div class="row card">
    <table class="table table-striped">
        <thead>
            <tr>
                <th width="20%" class="text-left">Version</th>
                <th width="30%" class="text-left">Release Date</th>
                <th width="50%" class="text-left">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.12</td>
                <td>2016/11/21</td>
                <td>
                    1、优化与调整
                </td>
            </tr>
            <tr>
                <td>1.11</td>
                <td>2016/10/27</td>
                <td>
                    1、增加「项目类型」，分类为「项目」和「专项工作」
                </td>
            </tr>
            <tr>
                <td>1.10</td>
                <td>2016/9/2</td>
                <td>
                    1、首页布局微调
                </td>
            </tr>
            <tr>
                <td>1.9.2</td>
                <td>2016/8/24</td>
                <td>
                    1、首页增加「全部未入池需求」提醒<br />
                    2、周报重点项目删除时增加警告提醒，同时修复删除重点项目无法清除对应每周工作的bug
                </td>
            </tr>
            <tr>
                <td>1.9.1</td>
                <td>2016/8/22</td>
                <td>
                    1、未入池的提醒天数改为8天<br />
                    2、批量更新增加「需求状态」字段
                </td>
            </tr>
            <tr>
                <td>1.9</td>
                <td>2016/8/21</td>
                <td>
                    1、「出池」与「版本计划」进行联动<br />
                    2、调整批量更新功能，进行简化合并<br />
                    3、单独新增「更新实际下发日期」功能<br />
                    4、UI优化：重新设计登陆页面、导航栏配色优化、下拉菜单鼠标悬停显示、输入框去掉内阴影<br />
                    5、维护需求部分页面系统下拉列表支持搜索<br />
                    6、新增About页面，记录更新历史<br />
                    7、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.8</td>
                <td>2016/7/29</td>
                <td>
                    1、首页提醒按照个人名下的系统进行提示<br />
                    2、系统管理页面增加查询功能<br />
                    3、系统新增状态，包括「建设中」、「正常」与「已下线」<br />
                    4、周报「每周工作」增加复制功能<br />
                    5、引入Roboto字体作为默认英文字体<br />
                    6、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.7</td>
                <td>2016/6/29</td>
                <td>
                    1、「两周未入池」改为「10天未入池」<br />
                    2、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.6</td>
                <td>2016/5/3</td>
                <td>
                    1、UI风格大改进<br />
                    2、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.5.1</td>
                <td>2016/4/17</td>
                <td>
                    1、项目信息新增状态字段<br />
                    2、周报的「每周工作」增加排序<br />
                    3、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.5</td>
                <td>2016/4/7</td>
                <td>
                    1、重新设计出池功能<br />
                    2、对周报重点工作，根据「是否跟踪」选项来确定是否导出到excel<br />
                    3、维护需求增加入库时间与最后更新时间记录<br />
                    4、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.4.1</td>
                <td>2016/2/26</td>
                <td>
                    1、新增外协人员考勤管理功能<br />
                    2、用户信息新增「用户类型」，区分行内员工与外协人员<br />
                    3、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.4</td>
                <td>2016/2/23</td>
                <td>
                    1、使用新的周报模板<br />
                    2、周报填写方式调整优化<br />
                    3、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.3.1</td>
                <td>2016/1/26</td>
                <td>
                    1、新增指标和任务管理功能<br />
                    2、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.3</td>
                <td>2016/1/8</td>
                <td>
                    1、首页改进、按照受理人提醒相关信息<br />
                    2、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.2</td>
                <td>2015/11/26</td>
                <td>
                    1、「项目计划」增加「项目年度」<br />
                    2、项目跟踪查询增加时间范围<br />
                    3、增加副下发信息<br />
                    4、首页对未及时下发需求进行提醒<br />
                    5、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.1</td>
                <td>2015/10/23</td>
                <td>
                    1、维护需求增加「待评估」状态<br />
                    2、跟踪超时未入池的维护需求<br />
                    3、维护需求查询中增加「特殊查询」选项，查询超时未入池、超时未出池需求<br />
                    4、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.0.1</td>
                <td>2015/9/29</td>
                <td>
                    1、增加项目计划，用以监控项目延期<br />
                    2、bug修复与体验优化
                </td>
            </tr>
            <tr>
                <td>1.0</td>
                <td>2015/9/1</td>
                <td>上线</td>
            </tr>

        </tbody>
    </table>
</div>
