@using MyTeam.Models
@model MyTeam.Models.HomeResult
@{
    ViewBag.Title = "欢迎";
}

<div class="jumbotron">
    <h1 style="font-weight:bold">零售团队管理系统<span style="font-size:12px">(Beta)</span></h1>
</div>
<div class="row">
    <fieldset class="col-md-6">
        <legend>当前尚未出池的需求情况：</legend>
        <div class="list-group">
            @foreach (HomeReq r in Model.ReqLs)
            {
                string s = "/ReqManage/Index?IsQuery=True&ReqStat=入池&SysId=" + r.SysId;
                <a class="list-group-item" href=@s>
                    <span class="badge">@r.ReqNum</span>
                    @r.SysName
                </a>
            }
        </div>
    </fieldset>
    <fieldset class="col-md-6">
        <legend>常用功能：</legend>
        <div class="list-group">
            <a class="list-group-item" href="/ReqManage/MainInPool">批量入池</a>
            <a class="list-group-item" href="/ReqManage">维护需求管理</a>
            <a class="list-group-item" href="/WeekReport/MainIndex">填写周报</a>
            <a class="list-group-item" href="/WeekReport/Export">导出周报</a>
        </div>
    </fieldset>
</div>
<!--用modal展示项目详情-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    【<span id="detailName"></span>】的详情
                </h4>
            </div>
            <div class="modal-body">
                <div id="detailMain"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>