@using MyTeam.Models

@model MyTeam.Models.HomeResult
@{
    Layout = null;

    // 如果没有需要提醒的内容，则返回空白，邮件提醒发送程序则不会发送邮件
    var reqInpoolDelayCount = Model.ReqInpoolDelayLS.Count;
    var projDelayCount = Model.ProjDetails.Count;

    if (reqInpoolDelayCount + projDelayCount == 0)
    {
        return;
    }
}


@if (reqInpoolDelayCount != 0)
{
    <p style="font-weight:bold">【超8天未入池的需求】</p>
        <table>
            @foreach (HomeReq r in Model.ReqInpoolDelayLS)
            {

                <tr>
                    <td>
                        @r.SysName
                    </td>
                    <td style="text-align:right; padding-left:20px;">
                        @r.ReqNum
                    </td>
                </tr>
            }
        </table>
}

@if (projDelayCount != 0 && DateTime.Now.DayOfWeek == DayOfWeek.Monday) //只有周一才提醒
{
    <p style="font-weight:bold">【延期项目】</p>
        <table>
            @foreach (HomeProjDelay r in Model.ProjDetails)
            {
                <tr>
                    <td>
                        @r.ProjName：
                    </td>
                    <td>
                        @r.DelayDetail
                    </td>
                </tr>
            }
        </table>
}

