@{
    ViewBag.Title = "导出周报（年度与个人）";
}

<h2>@ViewBag.Title</h2>



<div class="row card">
    <div class="col-md-8">
        @using (Html.BeginForm("ExportByYear", "WeekReport", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { @class = "form-horizontal", role = "form", id="myForm" }))
        {
            <div class="form-group">
                <label class="col-md-2 control-label" for="rptDate">年度</label>
                <div class="col-md-4">
                    <input id="year" name="year" type="number" maxlength="4" value="@DateTime.Now.Year" required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="rptDate">人员</label>
                <div class="col-md-4">
                    @Html.DropDownList("person", ViewBag.PersonList as SelectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="导出Excel" class="btn btn-primary" />
                </div>
            </div>
           
        }
    </div>
</div>