@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "业需软需状态跟踪表导入";
}
<h2>@ViewBag.Title。</h2>

<div class="row">
    <div class="col-md-10">
        @if (!string.IsNullOrEmpty(ViewBag.Msg))
        {
            @Html.Raw(ViewBag.Msg);
        }
        @using (Html.BeginForm("Import", "ReqTrack", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table class="table table-condensed query-table">
                <tr>
                    <td><label class="control-label">项目名称</label></td>
                    <td>
                        <!--项目下拉选择-->
                        @Html.DropDownList("ProjID", ViewBag.ProjList as SelectList, new { @class = "form-control" })
                    </td>
                    <td class="form-inline">
                        <input type="file" name="file" class="form-control" />
                        <input type="submit" value="上传" class="btn btn-primary" />
                        @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })
                    </td>
                </tr>
            </table>
        }

    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">TIPS</div>
    <div class="panel-body">
        1、请务必按照模板格式上传Excel文件！<a href="/ReqTrack/DownTemplate">点此下载模板文件</a><br />
        2、同一个系统，"业需编号+软需编号"不能重复。
    </div>
</div>