@{
    ViewBag.Title = "批量处理";
}

<h2>@ViewBag.Title</h2>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    $(document).ready(function () {
        $("#myTab a:first").tab('show')
    });

    function check() {
        var reqs = $("#Reqs").val();
        // 需求编号不能为空
        if (reqs.length < 1) {
            alert("需求编号不能为空！");
            $("#Reqs").focus();
            return false;
        } 

        // 下发通知编号的格式控制
        var rname = /[\u4E00-\u9FA5]/;

        // 主下发通知编号
        var rlsNo = $("#RlsNo").val();

        if (rlsNo.length > 0) {
            if (rname.test(rlsNo)) {
                alert("下发通知编号不能含有汉字");
                $("#RlsNo").focus();
                return false;
            }

            if (rlsNo.length != 12) {
                alert("下发通知编号必须是形如YFZX20160101");
                $("#RlsNo").focus();
                return false;
            }
        }

        // 副下发通知编号
        var secondRlsNo = $("#SecondRlsNo").val();

        if (secondRlsNo.length > 0) {
            if (rname.test(secondRlsNo)) {
                alert("副下发通知编号不能含有汉字");
                $("#SecondRlsNo").focus();
                return false;
            }
            if (secondRlsNo.length != 12) {
                alert("下发通知编号必须是形如YFZX20160101");
                $("#SecondRlsNo").focus();
                return false;
            }
        }

        return true;
    }

    // 批量更新
    function BatProc() {
        $("#info").html("");

        var reqs = $("#Reqs").val();

        var version = $("#Version").val();
        var outDate = $("#OutDate").val();
        var planRlsDate = $("#PlanRlsDate").val();
        var rlsNo = $("#RlsNo").val();
        var secondRlsNo = $("#SecondRlsNo").val();
        var rlsDate = $("#RlsDate").val();
        var secondRlsDate = $("#SecondRlsDate").val();
        var remark = $("#Remark").val();
        var reqStat = $("#ReqStat").val();

        if (check() && confirm("确定要批量更新吗？")) {
            var url = "/ReqManage/BatProc";
            var data = "reqs=" + reqs + "&version=" + version + "&outDate=" + outDate + "&planRlsDate=" + planRlsDate + "&rlsNo=" + rlsNo + "&secondRlsNo=" + secondRlsNo
                + "&rlsDate=" + rlsDate + "&secondRlsDate=" + secondRlsDate + "&remark=" + remark + "&reqStat=" + reqStat;
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (msg) {
                    $("#info").html(msg);
                },
                error: function () {
                    $("#info").html("<p class='alert alert-danger'>出错了，请联系管理员</p>");
                }
            });

        }
    }   
    
    // 批量删除
    function BatDel() {
        var reqs = $("#Reqs").val();

        if (check() && confirm("确定要批量删除吗？")) {
            var url = "/ReqManage/BatDel";
            var data = "reqs=" + reqs;
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (msg) {
                    $("#info").html(msg);
                },
                error: function () {
                    $("#info").html("<p class='alert alert-danger'>出错了，请联系管理员</p>");
                }
            });

        }
    }
</script>
<div class="row card">
    <div class="col-md-10">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="Reqs" class="control-label col-md-2">待处理的需求编号</label>
                <div class="col-md-10">
                    <textarea id="Reqs" name="Reqs" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div id="info"></div>
            <ul class="nav nav-tabs" id="myTab">
                <li><a href="#tabs1" data-toggle="tab">批量更新</a></li>
                <li><a href="#tabs2" data-toggle="tab">实际下发日期</a></li>
                <li><a href="#tabs3" data-toggle="tab">批量删除</a></li>
            </ul>
            <div class="tab-content" style="margin-top:20px">
                <div id="tabs1" class="tab-pane fade in active">
                    <div class="form-group">
                        <label for="Version" class="col-md-2 control-label">版本号</label>
                        <div class="col-md-10">
                            <input id="Version" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="OutDate" class="col-md-2 control-label">出池日期</label>
                        <div class="col-md-10">
                            <input id="OutDate" type="text" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M/d' })" placeholder="点击选择日期" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PlanRlsDate" class="col-md-2 control-label">计划下发日期</label>
                        <div class="col-md-10">
                            <input id="PlanRlsDate" type="text" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M/d' })" placeholder="点击选择日期" />
                        </div>
                    </div>

                   
                    <div class="form-group">
                        <label for="RlsNo" class="col-md-2 control-label">主下发通知编号</label>
                        <div class="col-md-10">
                            <input id="RlsNo" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SecondRlsNo" class="col-md-2 control-label">副下发通知编号</label>
                        <div class="col-md-10">
                            <input id="SecondRlsNo" type="text" class="form-control" />
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label for="RlsDate" class="col-md-2 control-label">主实际下发日期</label>
                        <div class="col-md-10">
                            <input id="RlsDate" type="text" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M/d' })" placeholder="点击选择日期" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="SecondRlsDate" class="col-md-2 control-label">副实际下发日期</label>
                        <div class="col-md-10">
                            <input id="SecondRlsDate" type="text" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M/d' })" placeholder="点击选择日期" />
                        </div>
                    </div>      
                    
                    <div class="form-group">
                        <label for="ReqStat" class="col-md-2 control-label">需求状态</label>
                        <div class="col-md-10">
                            @Html.DropDownList("ReqStat", ViewBag.ReqStatList as SelectList, new { @class = "form-control" })
                        </div>
                    </div>              
               
                    <div class="form-group">
                        <label for="Remark" class="col-md-2 control-label">备注</label>
                        <div class="col-md-10">
                            <textarea id="Remark" name="Remark" class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="更新" onclick="BatProc()" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <div id="tabs2" class="tab-pane fade in active">
                    <div style="margin-bottom:15px">
                        根据下发通知编号更新实际下发日期功能已经转移至【<a href="/ReqManage/UpdateRlsDate">第四步-更新实际下发日期</a>】，可从下拉菜单直接进入
                    </div>
                </div>
                <div id="tabs3" class="tab-pane fade in active">
                    <div style="margin-bottom:15px">
                        <input type="button" value="删除" onclick="BatDel()" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">TIPS</div>
        <div class="panel-body">
            1、维护需求编号每行一个；<br />
            2、输入框为空的项不会被更新。
        </div>
    </div>
</div>
