@{
    ViewBag.Title = "需求入池";
}
<h2>@ViewBag.Title</h2>

<div class="row card">
    <div class="form-inline">
        <label class="control-label">选择要入池的需求</label>
        @Html.DropDownList("SysID", ViewBag.SysList as SelectList, new { @class = "form-control", @onchange = "getReqNos()" })

        <select id="ReqNo" name="ReqNo" class="form-control">
            <option value="">--请选择系统--</option>
        </select>

        <button onclick="getInPoolDetail()" class="btn btn-primary">获取需求</button>
    </div>

</div>

<div id="inPoolDetailDiv"></div>


<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    // 获取需求申请编号
    function getReqNos() {
        var sysID = $('#SysID').val();
        $.ajax({
            type: 'GET',
            url: '/ReqManage/GetReqNosToInPool?sysID=' + sysID,
            success: function (msg) {
                $('#ReqNo').html(msg);
                //getReqReason();
            },
            error: function () {
                showAlertWithDefaultTitle("出错了，请联系管理员");
            }

        });
    }
    // 根据申请编号获取入池的页面
    function getInPoolDetail() {
        var reqNo = $('#ReqNo').val();
        if (reqNo == "") {
            showAlertWithDefaultTitle("需求编号不能为空！");
            return;
        }
        $('#inPoolDetailDiv').html("获取信息中...");
        $.ajax({
            type: 'GET',
            url: '/ReqManage/InPoolDetail?reqNo=' + reqNo,
            success: function (msg) {
                $('#inPoolDetailDiv').html(msg);
            },
            error: function () {
                showAlertWithDefaultTitle("出错了，请联系管理员");
            }

        });
    }
</script>