@{
    ViewBag.Title = "需求出池与下发";
}

<h2>@ViewBag.Title。</h2>
<script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
<script>
    function getReqs() {
        var sysId = $('#SysId').val();
        $.ajax({
            type: 'GET',
            url: '/ReqManage/GetReqsToOutPool?sysId=' + sysId,
            success: function (msg) {
                $('#ReqsDiv').html(msg);
            },
            error: function () {
                alert("出错了，请联系管理员");
            }

        });
    }

    function quickOutPool() {
        var sysId = $('#SysId').val();
        var reqs = $('#Reqs').val();        
        var version = $('#Version').val();
        var outDate = $('#OutDate').val();
        var planRlsDate = $('#PlanRlsDate').val();

        if (sysId == 0) {
            alert("请选择系统！");
            return;
        }
        if (reqs == null || reqs.length < 1) {
            alert("请选择要出池的需求！");
            return;
        }
        if (version.length < 1) {
            alert("版本号不能为空！");
            $('#Version').focus();
            return;
        }
        if (outDate.length < 1) {
            alert("出池日期不能为空！");
            $('#OutDate').focus();
            return;
        }
        if (planRlsDate.length < 1) {
            alert("计划下发日期不能为空！");
            $('#PlanRlsDate').focus();
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/ReqManage/QuickOutPool',
            data: 'Reqs=' + reqs + "&Version=" + version + "&OutDate=" + outDate + "&PlanRlsDate=" + planRlsDate + "&SysId=" + sysId,
            success: function (msg) {
                $('#OutPoolResult').html(msg);
                $('#RlsNoDiv').show();
            },
            error: function () {
                alert("出错了，请联系管理员");
                $('#RlsNoDiv').hide();
            }

        });

    }

    function updateRlsNo() {
        var reqs = $('#Reqs').val();
        var rlsNo = $('#RlsNo').val();
        var secondRlsNo = $('#SecondRlsNo').val();
                
        if (reqs == null || reqs.length < 1) {
            alert("请选择要出池的需求！");
            return;
        }

        // 下发通知编号格式控制
        var rname = /[\u4E00-\u9FA5]/;
        if (rlsNo.length > 0) {
            if (rname.test(rlsNo)) {
                alert("下发通知编号不能含有汉字");
                $("#RlsNo").focus();
                return;
            }

            if (rlsNo.length != 12) {
                alert("下发通知编号必须是12位");
                $("#RlsNo").focus();
                return;
            }
        }

        // 副下发通知编号格式控制
        if (secondRlsNo.length > 0) {
            if (rname.test(secondRlsNo)) {
                alert("副下发通知编号不能含有汉字");
                $("#SecondRlsNo").focus();
                return;
            }
            if (secondRlsNo.length != 12) {
                alert("下发通知编号必须是12位");
                $("#SecondRlsNo").focus();
                return;
            }
            if (rlsNo.length == 0) {
                alert("不能只填副下发编号");
                $("#RlsNo").focus();
                return;
            }
        }

        $.ajax({
            type: 'POST',
            url: '/ReqManage/QuickUpdateRlsNo',
            data: 'Reqs=' + reqs + "&RlsNo=" + rlsNo + "&SecondRlsNo=" + secondRlsNo,
            success: function (msg) {
                $('#RlsNoResultDiv').html(msg);
            },
            error: function () {
                alert("出错了，请联系管理员");
            }

        });
    }

</script>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("QuickOutPool", "ReqManage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get,
                new { @class = "form-horizontal", role = "form", id = "myForm" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="col-md-2 control-label">选择需求</label>
                <div class="col-md-5">
                    <!--系统下拉选择-->
                    @Html.DropDownList("SysId", ViewBag.SysList as SelectList, new { @class = "form-control", @onchange = "getReqs()" })
                </div>
                <div class="col-md-5">
                    <div id="ReqsDiv">
                        <select id="Reqs" name="Reqs" multiple="multiple" class="form-control" size="1">
                            <option>请选择系统</option>
                        </select>
                    </div>

                    <span class="text-info">（按住Ctrl键多选）</span>
                </div>
            </div>

            <div class="form-group">
                <label for="Version" class="col-md-2 control-label">版本号</label>
                <div class="col-md-10">
                    <input id="Version" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="OutDate" class="col-md-2 control-label">出池日期</label>
                <div class="col-md-10">
                    <input id="OutDate" type="text" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M/d' })" placeholder="点击选择日期" />
                </div>
            </div>
            <div class="form-group">
                <label for="PlanRlsDate" class="col-md-2 control-label">计划下发日期</label>
                <div class="col-md-10">
                    <input id="PlanRlsDate" type="text" class="form-control Wdate datepicker" onclick="WdatePicker({ dateFmt: 'yyyy/M/d' })" placeholder="点击选择日期" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="出池" class="btn btn-primary" onclick="quickOutPool()" />
                </div>
            </div>

            <div id="OutPoolResult"></div>
            
            <!--默认隐藏：出池成功后显示，用以更新下发通知编号-->
            <div id="RlsNoDiv" style="display:none">
                <div class="form-group">
                    <label for="RlsNo" class="col-md-2 control-label">主下发通知编号</label>
                    <div class="col-md-10">
                        <input id="RlsNo" type="text" class="form-control" value="YFZX"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="SecondRlsNo" class="col-md-2 control-label">副下发通知编号</label>
                    <div class="col-md-10">
                        <input id="SecondRlsNo" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="更新下发通知编号" class="btn btn-primary" onclick="updateRlsNo()" />
                    </div>
                </div>

                <div id="RlsNoResultDiv"></div>
            </div>

        }
    </div>
</div>
