body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tips {
    font-size:12px;
    color:grey;
    margin-top:20px;
}
.tips p {
    margin:0;
}
.datepicker {
  cursor: pointer!important;
  background-color:#FFF!important;
}

.query-table, .query-table tr,  .query-table td{
    border:none!important;
    border-color:none!important;
}

